<section class="container">
    <div class="intro">
        <span class="part">
            글이 작품이 되는 공간, 브런치
        </span>
        <span class="part">
            브런치에 담긴 아름다운 작품들을 감상해보세요.
        </span>
        <span class="part">
            그리고 다시 꺼내보세요.
        </span>
        <span class="part">
            서랍속 간직하고 있는 글과 감성을.
        </span>
    </div>
</section>

<section class="container">
    <strong class="section-title">
        BRUNCH KEYWORD
    </strong>
    <p class="section-desc">
        키워드로 분류된 다양한 글 모음.
    </p>
    <div class="total-keywords">
        <% site.categories.each(function(category){ %>
            <a class="keyword" href="<%= url_for(category.path) %>">
                <%= category.name %>&nbsp;(<%= category.posts.length%>)
            </a>
        <% }) %>
    </div>
</section>

<section>
    <strong class="section-title">
        RECENT ARTICLES
    </strong>
    <p class="section-desc">
        브런치의 최신 글들을 만나보세요.
    </p>
    <div class="slick article-slider">
        <% page.posts.each(function(post){ %>
            <div class="article" href="<%- url_for(post.path) %>">
                    <a href="<%- url_for(post.path) %>">
                        <img class="article__thumbnail" src="<%= post.thumbnail %>" alt="thumbnail">
                    </a>
                    <a class="article__title" href="<%- url_for(post.path) %>">
                        <%= post.title %>
                    </a>
                    <div class="article__desc">
                        <%- post.excerpt %>
                    </div>
                    <div class="article__etc">
                        <%= date(post.date, config.date_format) %>
                    </div>
                </div>
        <% }) %>
    </div>
</section>