<%
var post = page;
%>


<div class="container">
    <div class="article-detail">
        <img class="article-detail__thumbnail" src="<%- post.thumbnail %>" alt="">
        <h1 class="article-detail__title">
            <%= post.title %>
        </h1>
        <div class='text-muted'>
            <%= date(post.date, config.date_format) %>
        </div>
        <div class="article-detail__body">
            <%- post.content%>
            <% if(post.excerpt) { %>
                <%- post.excerpt %>
            <% } %>
        </div>
    </div>
</div>